.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @bg-color;
}

.login-card {
  width: 400px;

  &__header {
    text-align: center;
    margin-bottom: 24px;
  }

  &__title {
    color: @primary-color;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
  }

  &__subtitle {
    color: @text-muted;
    margin: 0;
  }
}
