.article-card {
  position: relative;
  padding: 20px;
  background-color: #fff;
  word-wrap: break-word;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 12px;
  min-height: 160px;
  display: flex;
  overflow: hidden;
  transition: all .2s;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    box-shadow: 9px 9px 18px #d2d6d8,
      -9px -9px 18px #fff;
  }

  .item-left {
    flex: none;
    width: 120px;
    height: 120px;
    background: url("@/assets/img/default.png") center no-repeat;
    background-size: contain;
    opacity: 60%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .item-right {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
    flex: 1;
    .title {
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.5;
      overflow: hidden;

      /* 隐藏溢出的文本 */
      display: -webkit-box;

      /* 设置为弹性盒子布局 */
      -webkit-box-orient: vertical;

      /* 设置弹性盒子的方向为垂直 */
      -webkit-line-clamp: 2;

      /* 设置显示的行数 */
      word-wrap: break-word;
    }

    .desc {
      margin-bottom: 12px;
      margin-top: 12px;
      overflow: hidden;

      /* 隐藏溢出的文本 */
      display: -webkit-box;

      /* 设置为弹性盒子布局 */
      -webkit-box-orient: vertical;

      /* 设置弹性盒子的方向为垂直 */
      -webkit-line-clamp: 2;

      /* 设置显示的行数 */
      word-wrap: break-word;
    }

    .meta {
      color: #b4b4b4;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .author {
        margin-right: 8px;
      }

      .update-time {

        display: flex;
        align-items: center;

        span {
          margin-left: 8px;
        }
      }

      .edit-options {
        display: flex;
        width: 60px;
        justify-content: space-between;
      }

      .edit-icon {
        padding: 4px;

        &:hover {
          color: #333;
          border-radius: 4px;
        }
      }
    }
  }

}

@media screen and (max-width: @mobile-max-width) {
  .article-card {
    width: 350px;
    padding: 12px 16px;
    border-radius: 8px;
    min-height: 120px;

    .item-right {
      margin-left: 16px;
      flex: 1;
      .title {
        -webkit-line-clamp: 1;
      }

      .meta {
        flex-direction: row;
        justify-content: space-between;

        .update-time {
          margin-left: 0;
        }

        .edit-options {
          margin-left: 16px;
          flex: 1;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}