.exercise_page {
  background: url("@/assets/img/bg.jpg") center no-repeat;
  background-size: cover;
}
.exercise_header{
  width: 100%;
  display: flex;
  padding: 0 18px;
  .go_exercise_btn {
    width: 150px;
    height: 150px;
    backdrop-filter: blur(6px);
    color: #fff;
    background-color: rgba(212, 212, 206, 0.59);;
    box-shadow: 0 0 10px 5px rgba(99, 99, 99, 0.3);
    border: none;
  }
  .tody_exercise{
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    color: #fff;
    background-color: rgba(200, 220, 220, 0.508);;
    box-shadow: 0 0 30px 10px rgba(175, 175, 175, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
}


.exercise_list {
  width: 100%;
  margin-top: 12px;
  padding: 0 18px;
  .exercise_item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    color: #fff;
    background-color: rgba(159, 205, 191, 0.508);;
    box-shadow: 0 0 30px 10px rgba(175, 175, 175, 0.3);
    &:not(:first-child) {
      margin-top: 12px;
    }

    &_right {
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      font-weight: 600;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
    }

    .desc {
      font-size: 14px;
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: @mobile-max-width) {
  .exercise_page {
    align-items: flex-start;
  }
}