.login-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  padding: 0 12px;
  align-items: center;
  // background-color: #fff;
  // background: linear-gradient(227deg, #EBEBEB 0%, #C5C6C8 100%),
  //   linear-gradient(155deg, rgba(255, 255, 255, 0.50) 5%, rgba(0, 0, 0, 0.50) 100%);
  // background-blend-mode: multiply;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  .adm-tabs {
    border-radius: 10px;
    padding: 12px;
    background-color: #fff;
    // backdrop-filter: blur(5px);
    // background-color: rgba(0,191,255, 0.075);
    // box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    // border: 2px rgba(255,255,255,0.4) solid;
    // border-bottom: 2px rgba(40,40,40,0.35) solid;
    // border-right: 2px rgba(40,40,40,0.35) solid;
  }

  .title {
    text-align: center;
    cursor: pointer;
    color: @primary-color;
    font-size: 24px;
    font-weight: 700;
  }

  .login-tips {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }
}