.login-page {
  display: flex;
  flex-direction: column;

  .page-body {
    border-radius: 8px;
    padding: 24px;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  .title {
    text-align: center;
    cursor: pointer;
    color: @primary-color;
    font-size: 24px;
    font-weight: 700;
  }

  .login-tips {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }
}