.auth_code_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  .form_input {
    &:first-child {
      margin-top: 0;
    }
  }

  .submit_login {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    button{
      width: 280px;
    }
  }

  .login_tips {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-top: 12px;
  }
}