.moment-list {
  width: 100%;

  .moment-list-loading,
  .moment-list-empty {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 300px;
    width: 100%;
    background: var(--card-bg);
    border-radius: 8px;
    box-sizing: border-box;
  }
}
