.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 0;
  border-bottom: solid 1px var(--adm-color-border);
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  >div{
    height: 100%;
  }
}

.bottom {
  position: fixed;
  width: 100vw;
  bottom: 0;
  flex: 0;
  border-top: solid 1px var(--adm-color-border);
  background-color: #fff;
  z-index: 999;
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
}